In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import threading
import time

In [4]:
class myThread (threading.Thread):
   def __init__(self, threadID, name, counter):
      threading.Thread.__init__(self)
      self.threadID = threadID
      self.name = name
      self.counter = counter
   def run(self):
      print("Starting " + self.name)
      # Get lock to synchronize threads
      threadLock.acquire()
      print_time(self.name, self.counter, 3)
      # Free lock to release next thread
      threadLock.release()

def print_time(threadName, delay, counter):
   while counter:
      time.sleep(delay)
      print("%s: %s" % (threadName, time.ctime(time.time())))
      counter -= 1

threadLock = threading.Lock()
threads = []

# Create new threads
thread1 = myThread(1, "Thread-1", 1)
thread2 = myThread(2, "Thread-2", 2)

# Start new Threads
thread1.start()
thread2.start()

# Add threads to thread list
threads.append(thread1)
threads.append(thread2)

# Wait for all threads to complete
for t in threads:
    t.join()
print("Exiting Main Thread")

Starting Thread-1
Starting Thread-2
Thread-1: Sat Feb 15 16:52:41 2020
Thread-1: Sat Feb 15 16:52:42 2020
Thread-1: Sat Feb 15 16:52:43 2020
Thread-2: Sat Feb 15 16:52:45 2020
Thread-2: Sat Feb 15 16:52:47 2020
Thread-2: Sat Feb 15 16:52:49 2020
Exiting Main Thread

In [5]:
import numpy
import plotly
import dash
import matplotlib
import seaborn
import redis

In [6]:
import talib

In [6]:
from flask.ext.socketio import SocketIO, emit

ModuleNotFoundError: No module named 'flask.ext'

In [7]:
pip install flask-socketio

Collecting flask-socketio
  Downloading Flask_SocketIO-4.2.1-py2.py3-none-any.whl (16 kB)
Collecting python-socketio>=4.3.0
  Downloading python_socketio-4.4.0-py2.py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 322 kB/s eta 0:00:01
Requirement already satisfied: Flask>=0.9 in /usr/local/lib/python3.7/site-packages (from flask-socketio) (1.1.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/site-packages (from python-socketio>=4.3.0->flask-socketio) (1.14.0)
Collecting python-engineio>=3.9.0
  Downloading python_engineio-3.11.2-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 1.4 MB/s eta 0:00:011
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.7/site-packages (from Flask>=0.9->flask-socketio) (7.0)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.7/site-packages (from Flask>=0.9->flask-socketio) (1.0.0)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.7/site-packages (from Flask>=0.9->flask-socketio) (2.11.1)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.7/site-packages (from Flask>=0.9->flask-socketio) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/site-packages (from Jinja2>=2.10.1->Flask>=0.9->flask-socketio) (1.1.1)
Installing collected packages: python-engineio, python-socketio, flask-socketio
Successfully installed flask-socketio-4.2.1 python-engineio-3.11.2 python-socketio-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [12]:
df = pd.DataFrame(['print("Hello World")\ncache.publish(\'backtest/cmd\', \'stop\')'])

In [16]:
exec(df[0].values[0])

Hello World

NameError: name 'cache' is not defined

In [3]:
import pandas as pd
temp_file = pd.HDFStore("data/kite_cache_day.h5", mode="r")

In [34]:
from datetime import datetime, timedelta
stock='TCS'
tmpdata = temp_file.get('/day/NSE/'+stock)
fromDate = '02/02/2019'
toDate = '05/03/2019'
startDate = datetime.strptime(fromDate,'%m/%d/%Y') - timedelta(days=50)
#tmpdata[(tmpdata.index >= startDate ) & (tmpdata.index <= toDate)]

data = tmpdata[(tmpdata.index >= startDate) & (tmpdata.index <= toDate)]


json_raw_data={
    'stock':'INFY',
    'data':data.to_json(orient='records'),
    'algo':'test'
}

json_df = pd.DataFrame(data=json_raw_data, index=['stock'])
json_data = json_df.to_json(orient='records')

In [35]:
data

              close     high      low     open   volume
date
2018-12-14  1989.75  1998.95  1975.25  1983.00  2473761
2018-12-17  1994.30  2004.90  1985.00  1999.00  1227921
2018-12-18  1987.85  2002.00  1976.40  1991.90  1768742
2018-12-19  1968.45  1984.80  1960.05  1984.80  2498833
2018-12-20  1954.05  1974.90  1946.00  1953.80  1940277
...             ...      ...      ...      ...      ...
2019-04-25  2195.00  2205.00  2168.05  2175.00  4211526
2019-04-26  2238.55  2243.95  2193.15  2203.00  2716958
2019-04-30  2260.35  2266.95  2230.10  2238.55  3488395
2019-05-02  2215.40  2259.40  2211.10  2255.00  2457699
2019-05-03  2132.00  2186.05  2125.00  2185.00  3780886

[94 rows x 5 columns]

In [31]:

datetime.strptime(fromDate,'%m/%d/%Y') - timedelta(days=5)

datetime.datetime(2019, 1, 28, 0, 0)

In [5]:
data = pd.read_json(json_data, orient='records')

In [6]:
data.head()

  stock                                               data  algo
0  INFY  [{"close":2050.25,"high":2055.45,"low":2023.0,...  test

In [10]:
ohlc_json = data.head().to_json(orient='columns')

In [11]:
ohlc_json

'{"close":{"1549238400000":2050.25,"1549324800000":2044.55,"1549411200000":2074.8,"1549497600000":2082.9,"1549584000000":2061.4},"high":{"1549238400000":2055.45,"1549324800000":2055.0,"1549411200000":2086.85,"1549497600000":2097.95,"1549584000000":2089.5},"low":{"1549238400000":2023.0,"1549324800000":2028.0,"1549411200000":2041.05,"1549497600000":2067.0,"1549584000000":2051.0},"open":{"1549238400000":2029.95,"1549324800000":2050.0,"1549411200000":2049.9,"1549497600000":2074.75,"1549584000000":2075.0},"volume":{"1549238400000":1590764,"1549324800000":1111404,"1549411200000":1789812,"1549497600000":1339945,"1549584000000":1684474}}'

In [39]:
df = pd.read_json(ohlc_json)

In [42]:
df.index.rename('date', inplace=True)

In [43]:
df

              close     high      low     open   volume
date
2019-02-04  2050.25  2055.45  2023.00  2029.95  1590764
2019-02-05  2044.55  2055.00  2028.00  2050.00  1111404
2019-02-06  2074.80  2086.85  2041.05  2049.90  1789812
2019-02-07  2082.90  2097.95  2067.00  2074.75  1339945
2019-02-08  2061.40  2089.50  2051.00  2075.00  1684474

In [34]:
import json
json.loads(json_data)[0]['data']

AttributeError: 'str' object has no attribute 'to_dict'

In [2]:
import json
import ast
pd.DataFrame(ast.literal_eval(json.loads(json_data)[0]['data']))

NameError: name 'json_data' is not defined

In [7]:
json_raw = {"stock": "TCS", "algo": "pdebug(\"Hello World\")", "fromDate": "2019-02-02", "toDate": "2019-05-03"}

In [4]:
type(json_raw)

dict

In [6]:
json_raw['fromDate']

'2019-02-02'

In [8]:
json.loads({"stock": "TCS", "algo": "pdebug(\"Hello World\")", "fromDate": "2019-02-02", "toDate": "2019-05-03"})

TypeError: the JSON object must be str, bytes or bytearray, not dict

In [12]:
ohlc_dict = '[{"date":"2019-02-02","close":0,"high":0,"low":0,"open":0,"volume":0}]'

In [15]:
pd.read_json(ohlc_dict).set_index("date")

            close  high  low  open  volume
date
2019-02-02      0     0    0     0       0

In [2]:
fromDate='2019/02/02'
'[{"date":'+fromDate+',"close":0,"high":0,"low":0,"open":0,"volume":0}]'

'[{"date":2019/02/02,"close":0,"high":0,"low":0,"open":0,"volume":0}]'

In [1]:
"Suhan {}".format(5)

'Suhan 5'