In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import threading
import time

In [4]:
class myThread (threading.Thread):
   def __init__(self, threadID, name, counter):
      threading.Thread.__init__(self)
      self.threadID = threadID
      self.name = name
      self.counter = counter
   def run(self):
      print("Starting " + self.name)
      # Get lock to synchronize threads
      threadLock.acquire()
      print_time(self.name, self.counter, 3)
      # Free lock to release next thread
      threadLock.release()

def print_time(threadName, delay, counter):
   while counter:
      time.sleep(delay)
      print("%s: %s" % (threadName, time.ctime(time.time())))
      counter -= 1

threadLock = threading.Lock()
threads = []

# Create new threads
thread1 = myThread(1, "Thread-1", 1)
thread2 = myThread(2, "Thread-2", 2)

# Start new Threads
thread1.start()
thread2.start()

# Add threads to thread list
threads.append(thread1)
threads.append(thread2)

# Wait for all threads to complete
for t in threads:
    t.join()
print("Exiting Main Thread")

Starting Thread-1
Starting Thread-2
Thread-1: Sat Feb 15 16:52:41 2020
Thread-1: Sat Feb 15 16:52:42 2020
Thread-1: Sat Feb 15 16:52:43 2020
Thread-2: Sat Feb 15 16:52:45 2020
Thread-2: Sat Feb 15 16:52:47 2020
Thread-2: Sat Feb 15 16:52:49 2020
Exiting Main Thread

In [5]:
import numpy
import plotly
import dash
import matplotlib
import seaborn
import redis

In [6]:
import talib

In [6]:
from flask.ext.socketio import SocketIO, emit

ModuleNotFoundError: No module named 'flask.ext'

In [7]:
pip install flask-socketio

Collecting flask-socketio
  Downloading Flask_SocketIO-4.2.1-py2.py3-none-any.whl (16 kB)
Collecting python-socketio>=4.3.0
  Downloading python_socketio-4.4.0-py2.py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 322 kB/s eta 0:00:01
Requirement already satisfied: Flask>=0.9 in /usr/local/lib/python3.7/site-packages (from flask-socketio) (1.1.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/site-packages (from python-socketio>=4.3.0->flask-socketio) (1.14.0)
Collecting python-engineio>=3.9.0
  Downloading python_engineio-3.11.2-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 1.4 MB/s eta 0:00:011
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.7/site-packages (from Flask>=0.9->flask-socketio) (7.0)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.7/site-packages (from Flask>=0.9->flask-socketio) (1.0.0)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.7/site-packages (from Flask>=0.9->flask-socketio) (2.11.1)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.7/site-packages (from Flask>=0.9->flask-socketio) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/site-packages (from Jinja2>=2.10.1->Flask>=0.9->flask-socketio) (1.1.1)
Installing collected packages: python-engineio, python-socketio, flask-socketio
Successfully installed flask-socketio-4.2.1 python-engineio-3.11.2 python-socketio-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [12]:
df = pd.DataFrame(['print("Hello World")\ncache.publish(\'backtest/cmd\', \'stop\')'])

In [16]:
exec(df[0].values[0])

Hello World

NameError: name 'cache' is not defined

In [1]:
import pandas as pd
temp_file = pd.HDFStore("data/kite_cache_day.h5", mode="r")

In [2]:
stock='TCS'
tmpdata = temp_file.get('/day/NSE/'+stock)
fromDate = '02/02/2019'
toDate = '05/03/2019'
data = tmpdata[(tmpdata.index >= fromDate) & (tmpdata.index <= toDate)]


json_raw_data={
    'stock':'INFY',
    'data':data.to_json(orient='records'),
    'algo':'test'
}

json_df = pd.DataFrame(data=json_raw_data, index=['stock'])
json_data = json_df.to_json(orient='records')

In [21]:
data = pd.read_json(json_data, orient='records')

In [19]:
data

  stock                                               data  algo
0  INFY  [{"close":2050.25,"high":2055.45,"low":2023.0,...  test

In [34]:
import json
json.loads(json_data)[0]['data']

AttributeError: 'str' object has no attribute 'to_dict'

In [36]:
import json
import ast
pd.DataFrame(ast.literal_eval(json.loads(json_data)[0]['data']))

      close     high      low     open   volume
0   2050.25  2055.45  2023.00  2029.95  1590764
1   2044.55  2055.00  2028.00  2050.00  1111404
2   2074.80  2086.85  2041.05  2049.90  1789812
3   2082.90  2097.95  2067.00  2074.75  1339945
4   2061.40  2089.50  2051.00  2075.00  1684474
5   2065.90  2096.00  2048.90  2060.00  1778730
6   2051.60  2070.00  2018.00  2070.00  2422903
7   2065.40  2083.00  2050.50  2062.00  2808581
8   2044.60  2075.00  2033.05  2060.05  1724085
9   2029.70  2052.00  2010.95  2049.00  1930065
10  1970.30  2041.95  1962.65  2037.60  2942184
11  1904.80  1971.00  1892.00  1970.00  4408554
12  1914.75  1933.80  1881.30  1915.00  4645778
13  1914.20  1940.00  1897.05  1914.75  4683919
14  1925.65  1930.00  1905.10  1917.20  2271955
15  1985.15  1990.00  1930.50  1932.50  2934880
16  2038.70  2045.15  1972.25  1984.00  6453309
17  2058.10  2074.95  2022.00  2040.00  4732082
18  1983.45  2071.35  1977.60  2060.00  8454295
19  1995.40  2005.00  1980.35  1995.05  4148548
20  1988.10  2007.00  1976.60  2005.00  2449622
21  1999.60  2015.00  1985.05  1989.30  2635047
22  2013.30  2024.05  2000.20  2005.00  2539884
23  2022.70  2033.00  2010.05  2025.00  2031071
24  2014.80  2033.00  2003.65  2028.90  3111689
25  2012.45  2024.80  2003.00  2014.05  2658550
26  2000.50  2015.90  1978.60  2013.00  1833163
27  1987.40  2007.80  1981.00  2004.95  1905495
28  2039.95  2068.95  1991.00  1998.90  5184318
29  2022.80  2064.60  2011.00  2043.00  2349915
30  2022.80  2030.00  1995.10  2030.00  2373993
31  2015.05  2044.80  2000.00  2028.00  3091165
32  2005.65  2016.00  1983.30  2015.00  3148149
33  1984.25  2007.80  1977.20  2007.80  2429205
34  1982.65  1994.95  1958.05  1984.00  2316539
35  1967.90  1998.00  1961.00  1994.00  2266166
36  2000.30  2014.60  1972.80  1980.00  4054489
37  2001.65  2024.90  1983.55  2019.00  2948955
38  2031.65  2039.95  2008.25  2010.00  2095740
39  2079.30  2086.00  2037.00  2037.10  3719663
40  2079.30  2089.60  2058.10  2085.00  2939886
41  2014.50  2079.70  2007.40  2078.15  4397518
42  2048.30  2054.40  2018.80  2028.65  3152103
43  2070.75  2075.00  2032.70  2059.00  2194294
44  2091.50  2098.00  2057.65  2070.00  2690970
45  2040.25  2085.50  2036.00  2083.00  3313062
46  2019.50  2055.00  2013.65  2045.00  3422442
47  2014.50  2039.00  2007.00  2038.00  3198471
48  2113.30  2119.80  2041.00  2070.00  9189201
49  2131.80  2155.95  2115.55  2120.00  5771952
50  2150.05  2155.00  2114.20  2149.90  3413728
51  2161.45  2176.00  2145.60  2148.00  2007135
52  2155.05  2165.50  2134.05  2163.00  2163524
53  2183.45  2195.00  2156.10  2158.00  3003071
54  2195.00  2205.00  2168.05  2175.00  4211526
55  2238.55  2243.95  2193.15  2203.00  2716958
56  2260.35  2266.95  2230.10  2238.55  3488395
57  2215.40  2259.40  2211.10  2255.00  2457699
58  2132.00  2186.05  2125.00  2185.00  3780886